#vid{
    width:100%;
    height: 500px;
    border:none;
}
.travel_maindiv{
    border:1px solid grey;
}
hr{
    width:1000px;
    height: 20px;
    color:black;
}
.movie_head{
    font-size:20px;
    padding:6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.movie_head i {
    float: right;
}
.Achievemnt_text span{
    color:orange;
}
.new{
    margin-bottom: 20px;
}
#contact iframe{
    width: 100%;
}